body {
    margin: 0;
    padding: 0;
    min-height: 100vh;

    background-image: url("https://images.unsplash.com/photo-1470252649378-9c29740c9fa8?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c3VucmlzZSUyMHNreSUyMGxhbmRzY2FwZSUyMHdhbGxwYXBlcnxlbnwwfHwwfHx8MA%3D%3D");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: Arial, Helvetica, sans-serif;
}

#root {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}